body{
  padding-top: 50px;
}

    .product-img {
      object-fit: contain;
      height: 200px;

    }

  .custom-card {
    height: 500px; /* ajustá según tu diseño */
    overflow: hidden;
    width: 400px;
  }

  .custom-card img {
    height: 50%;
    object-fit: contain;
    width: 100%;
  }

  .custom-card .card-body {
    height: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }   
